.banners{
  background-color: #FFFFFF;
  grid-area: 2 / 2 / 3 / span 4;
  height: 799px;
  margin: 80px 18px 21px 18px;
          
  @include responsive(phone){
    grid-area: 2 / 1 / 3 / span 4;
    margin: 42px 0 21px 0;
  }
}
  
.banners_wrapper{
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include responsive(phone){
    .main_links .row{
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  .main_links .row{
    .list_icon{
      .icon-trash{
        padding: 0 25px 0 12px;
      }
    }
  }
}