.nav_wrapper{
  display: flex;
  height: 61px;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  border-bottom: 2px solid #E3E3E3;
  z-index: 3;

  @include responsive(phone){
    position: unset;
    flex-wrap: wrap;
    height: 100%;
  }
}

.wallet_wrapper{
  @include nav_flex(row, center, center);  
  max-height: 187px;

  @include responsive(phone){
    width: 100%;
    border: 2px solid #E3E3E3;
  }
  
  .wallet_front{
    @include nav_flex(row, center, space-around);  
    width: 189px;
    height: 61px;
    border-left: #E3E3E3 solid 2px;
    border-right: #E3E3E3 solid 2px;

    i{
      color: #9C9C9C;
      width: 17px;
      height: 18px;
    }
    
    .money{
      @include font-section();
      color: #9C9C9C;
      font-size: 20px;
    }
  }
}

.note_wrapper{
  @include nav_flex(row, center, flex-start); 
  width: 38px;
  max-height: 61px;
  border-right: #E3E3E3 solid 2px;
  margin-left: 21px;

  @include responsive(phone){
    position: relative;
    right: 15%;
    margin-left: 0;
  }

  i{
    color: #9C9C9C;
    width: 16px;
    height: 17px;
  }
}

.profile_wrapper{
  @include nav_flex(row, center, flex-start); 
  width: 155px;
  height: 61px;
  border-right: #E3E3E3 solid 2px;
  margin-left: 18px;

  &:hover{
    cursor: pointer;
  }

  @include responsive(phone){
    width: 50%;
    margin-left: 0;
  }

  i{
    color: #9C9C9C;
    width: 17px;
    height: 17px;
  }

  .profile_text{
    @include font-text();
    margin-right: 18px;
    font-size: 13px;
    padding-left: 14px;
  }
}

.exit_wrapper{
  @include nav_flex(row, center, flex-start); 
  width: 38px;
  margin-left: 21px;

  i{
    color: #9C9C9C;
    width: 19px;
    height: 15px;
  }
}