.side_wrapper{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 4;

  @include responsive(phone){
    position: fixed;
    height: 50px;

    &.show{
      height: 140%;
      @include sideBar();
    }
  }
}

.side_logo{

  @include responsive(phone){
    display: flex;
    justify-content: space-between;
  }

  img{
    padding: 18px 46px 0 20px;
  }

  .hamburger{
    visibility: hidden;
    @include responsive(phone){
      visibility: visible;
      color: $color-light;
      width: 18px;
      height: 16px;
      margin: 23px 10px 0 0;
    }
  }  
}

.side_links{
  display: flex;
  @include responsive(phone){
    display: none;
  }
  

  ul{
    list-style: none;
    padding: 0;
    width: 189px;
    margin: 19px 0 0 0;

    li{
      height: 40px;
      padding: 10px 0 0 18px;

      i{
        color: #818181;
      }

      a{
        @include font-text();
        color: #9C9C9C;
        text-decoration: none;
        padding: 0 0 0 13px;
        font-size: 14px;
      }

      &:hover {
        background-color: #282828;
        border-left: $color-darkorange 5px solid;
        padding: 10px 0 0 13px;        
      }

      &:hover i{
        color: $color-light;
      }
      
      &:hover a{
        color: $color-light;
      }
    }
  }
}

.general{
  cursor: pointer;
}

.side_manager{
  display: flex;
  height: 102px;
  border-top: #333333 2px solid;
  position: relative;
  margin: 40px 0;

  @include responsive(phone){
    display: none;
  }

  .head_manager{
    @include font-section();
    color: #808080;
    font-size: 14px;
    margin: 0;
    position: absolute;
    top: 28px;
    left: 20px;
  }

  img{
    top: 57px;
    left: 20px;
    position: absolute;
  }
  
  .manager_name{
    @include font-text();
    position: absolute;
    color: $color-blue;
    font-size: 14px;
    left: 73px;
    top: 74px;
  }
}