/* Mixin nav */

@mixin nav_flex($flex-direction, $align-items, $justify-content){
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin content_column(){
  width: 311px;
  height: 68px;
  display: flex;
  flex-direction: column;
}

@mixin inner_column(){
  display: flex;
  justify-content: space-between;
  border-bottom: #E3E3E3 2px solid;

  h2{
    color: #A6A6A6;
    font-size: 16px;
    margin: 0 0 8px;
  }
}

@mixin btn($btn-bg, $btn-text){
  background: $btn-bg;
  color: $btn-text;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px;

  &:hover{
    background-color: $color-orange;
  }
}

/* side bar content */
@mixin sideBar(){
  .side_links{
    display: flex;
  
    ul{
      list-style: none;
      padding: 0;
      width: 189px;
      margin: 19px 0 0 0;
  
      li{
        height: 40px;
        padding: 10px 0 0 18px;
  
        &:hover{
          background-color: #282828;
          border-left: $color-darkorange 5px solid;
          padding: 10px 0 0 13px;
        }
  
        i{
          color: #818181;
        }
  
        a{
          color: $color-light;
          text-decoration: none;
          padding: 0 0 0 13px;
          font-size: 14px;
        }
      }
    }
  }
  
  .side_manager{
    display: flex;
    height: 102px;
    border-top: #333333 2px solid;
    position: relative;
    margin: 40px 0;
  
    .head_manager{
      color: #808080;
      font-size: 14px;
      margin: 0;
      position: absolute;
      top: 28px;
      left: 20px;
    }
  
    img{
      top: 57px;
      left: 20px;
      position: absolute;
    }
    
    .manager_name{
      position: absolute;
      color: $color-blue;
      font-size: 14px;
      left: 73px;
      top: 74px;
    }
  }
}

@mixin main_2() {
  .main-2_wrapper{
    visibility: hidden;
  }
}

/* Media queries */

@mixin responsive($brakpoint){
  @if $brakpoint == phone {
    @media only screen and (max-width: 600px) { @content; }
  }

  @if $brakpoint == tablet {
    @media only screen and (max-width: 900px) { @content; }
  }

  @if $brakpoint == tab-land {
    @media only screen and (max-width: 1400px) { @content; }
  }

  @if $brakpoint == big-desktop {
    @media only screen and (min-width: 1800px) { @content; }
  }
}