/* Colors */
$color-dark: #333333;
$color-darkgrey: #979797;
$color-grey: #BABABA;
$color-lightgrey: #E3E3E3;
$color-light: #F5F5F2;
$color-darkorange: #F58220;
$color-orange: #FFA200;
$color-darkgreen: #04AE00;
$color-green: #74B67A;
$color-lightgreen: #96CC9B;
$color-lightred: #DE5252;
$color-pink: #EC7171;
$color-blue: #56819F;
$color-red: #FF0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
@mixin font-header(){
  font-family: roboto, sans-serif;
  font-weight: 500;
}
@mixin font-section(){
  font-family: roboto, sans-serif;
  font-weight: 700;
}
@mixin font-text(){
  font-family: roboto, sans-serif;
  font-weight: 300;
}
