/* Colors */
$color-dark: #333333;
$color-darkgrey: #979797;
$color-grey: #BABABA;
$color-lightgrey: #E3E3E3;
$color--light: #F5F5F2;
$color-darkorange: #F58220;
$color-orange: #FFA200;
$color-darkgreen: #04AE00;
$color-green: #74B67A;
$color-lightgreen: #96CC9B;
$color-lightred: #DE5252;
$color-pink: #EC7171;
$color-blue: #56819F;
$color-red: #FF0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font-header: 'Roboto-Medium', 'AdobeInvisFont', 'MyriadPro-Regular';
$font-section: 'Roboto-Bold', 'AdobeInvisFont', 'MyriadPro-Regular';
$font-text: 'Roboto-Light', 'AdobeInvisFont', 'MyriadPro-Regular';